[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
django = "*"
django-markdown-deux = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
